<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <h1>Form to add meds</h1>
    
    <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="medicine name" />
        <input type="text" name="count" placeholder="count" />
        <input type="text" name="brand" placeholder="placeholder" />
        <button type="submit">Add</button>
    </form>
</head>
<body>
    
</body>
</html>